In [3]:
import pandas as pd
from urllib.parse import urlparse
import numpy as np
import nltk.data
from requests_html import HTMLSession

def parse_elements(url,element):
    session = HTMLSession()
    r = session.get(url)
    elements = r.html.find(element)
    return [element.text for element in elements]

url = 'https://www.utoronto.ca/about-u-of-t/quick-facts'
paragraphs = parse_elements(url, 'p')
links = parse_elements(url, 'a')

Insert source from u of t website on quick facts

In [4]:
df = pd.DataFrame(paragraphs, columns=['Text'])

In [5]:
df

                                                 Text
0   The University of Toronto is a global leader i...
1   The University of Toronto has three campuses: ...
2   U of T has 16,775 new full-time students enter...
3   * First Entry programs include Arts & Science,...
4   The top five countries/regions of origin are C...
5                                              16,503
6                                             Faculty
7                                               8,087
8                                       Staff members
9                                                 163
10                                         Librarians
11  For more information please see Research & Inn...
12  The University of Toronto has over 679,671 alu...
13  Trying to articulate a university's standing i...
14                                           Programs
15  As of fall 2022, the University of Toronto off...
16  Please see Undergraduate Programs for more det...
17                                            Tuition
18                                           Domestic
19  Tuition cost for first-entry domestic undergra...
20  The University of Toronto is committed to ensu...
21  Tuition cost for international undergraduate s...
22                                           Programs
23     Please see Graduate Programs for more details.
24                                            Tuition
25                                           Domestic
26  The University of Toronto is committed to the ...
27                                      International
28  * Tuition fees reported here do not include co...
29  ** Starting in the fall of 2018, most internat...
30  For more detailed information please see Fee S...
31  The University of Toronto has more than 1,200 ...
32  The University of Toronto at St. George has 11...
33  The Mississauga campus can accommodate 1,357* ...
34  The University of Toronto has a housing guaran...
35  For more information please see Housing Servic...
36  The University of Toronto has  42 libraries. T...
37                12 million volumes in 341 languages
38  1,500,000 electronic resources in various formats
39      28,000 linear metres of archival material and
40                              500 terabytes of data
41  The University of Toronto library system is Ca...
42  For more information please see Library Direct...
43  The University of Toronto’s operating budget f...
44    For more information please see Budget Reports.
45  University of Toronto entrepreneurs have secur...
46  University of Toronto is a leader for research...
47  University of Toronto Entrepreneurship ranks a...
48  University of Toronto Entrepreneurship offers ...
49  For more information please see Facts and Figu...
50
51                  Statement of Land Acknowledgement
52  We wish to acknowledge this land on which the ...
53                 UNIVERSITY OF TORONTO - SINCE 1827

In [6]:
import requests
from bs4 import BeautifulSoup

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find elements containing text data
text_elements = soup.find_all('div', class_='field field--name-field-add-text field--type-string-long field--label-hidden field__item')

# Find elements containing integer data
integer_elements = soup.find_all('div', class_='field field--name-field-add-number field--type-integer field--label-hidden field__item')

# Extract and print text data
for text_element in text_elements:
    text_data = text_element.text
    print(text_data)

# Extract and print integer data
for integer_element in integer_elements:
    integer_data = integer_element.text
    print(integer_data)

St. George
Mississauga
Scarborough
Domestic
International
Total
Graduate
Undergraduate
Total
Country/region
Students
China
India
United States
Korea (South)
Hong Kong
Taiwan
Iran
Türkiye
Indonesia
Japan
Pakistan
Country/region
Alumni
Canada
United States
China
Hong Kong
United Kingdom
Australia
Great Britain
India
Singapore
Japan
South Korea

Times Higher Education 2023
ShanghaiRanking Academic Ranking of World Universities 2023
QS World University Rankings 2024
U.S. News Best Global Universities 2022-23
NTU Ranking (formerly HEEACT) 2023
University of Toronto
20,335
903
379
16,252
5,365
21,617
46,905
15,199
13,957
52,993
23,068
76,061
67,240
16,102
14,336
69,245
28,433
97,678
15,717
2,405
1,189
890
655
501
422
320
305
276
274
614,656
27,274
6,075
5,747
2,011
1,227
1,224
1,213
980
903
839
18
24
21
18
5

The U of T website originally did not intend this for data analysis, and so I think I would just choose data as I see fit.

In [7]:
graduate_data = [
    "St. George", "Mississauga", "Scarborough", "Domestic", "International", "Total",
    20335, 903, 379, 16252, 5365, 21617
]

undergraduate_data = [
    "St. George", "Mississauga", "Scarborough", "Domestic", "International", "Total",
    46905, 15199, 13957, 52993, 23068, 76061
]

country_region_data = [
    "China", "India", "United States", "Korea (South)", "Hong Kong", "Taiwan", "Iran", 
    "Türkiye", "Indonesia", "Japan", "Pakistan",
    15717, 2405, 1189, 890, 655, 501, 422, 320, 305, 276, 274
]

alumni_data = [
    "Canada", "United States", "China", "Hong Kong", "United Kingdom", "Australia", 
    "Great Britain", "India", "Singapore", "Japan", "South Korea",
    614656, 27274, 6075, 5747, 2011, 1227, 1224, 1213, 980, 903, 839
]
# number of graduates, no. of UGs, students by country, alumni by country

In [8]:
grads = pd.DataFrame({
    "Campus": graduate_data[:6],
    "Graduates": graduate_data[6:]
})

print(grads)

          Campus  Graduates
0     St. George      20335
1    Mississauga        903
2    Scarborough        379
3       Domestic      16252
4  International       5365
5          Total      21617